.temp_add_button{
  display: none;
}
.item {
    padding: 40px 0;
  }
  .item:first-child {
    padding-top: 0;
  }
  
  .item_img {
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(225, 231, 237);
  }
  
  .item_img img {
    display: block;
    width: 100%;
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
    transform: rotate(-24deg);
    margin-left: -16px;
  }
  .item_name {
    font-size: 20px;
    font-weight: 700;
    margin: 26px 0 20px;
    line-height: 1.5;
  }
  
  .item_description {
    font-size: 13px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .item_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item_price {
    font-size: 18px;
    font-weight: 700;
  }
  
  .item_add_button_inactive {
    width: 46px;
    pointer-events: none;
    cursor: default;
  }
  
  .item_add_button_cover {
    width: 16px;
    height: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item_add_button_checkbox {
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    pointer-events: none;
    cursor: default;
    width: 140%;
    transform: translate(-70%, -53%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  .item_add_button {
    color: #303841;
    font-family: Rubik, sans-serif;
    cursor: pointer;
    background-color: #f6c90e;
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: 46px;
    min-width: 46px;
    padding: 16px 20px;
    border-radius: 100px;
    transition: all 0.25s ease;
    user-select: none;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  
    transition-timing-function: ease-in;
  }
  